<p id="notice"><%= notice %></p>

<p>
  <b>Candidate:</b>
  <%= @panel.candidate %>
</p>

<p>
  <b>Email:</b>
  <%= @panel.email %>
</p>

<p>
  <b>Position:</b>
  <%= @panel.position %>
</p>

<p>
  <b>Date:</b>
  <%= @panel.date %>
</p>

<p>
  <b>State:</b>
  <%= panel_state(@panel) %>
</p>

<% @panel.sessions.each do |s| %>
  <p>
    <%= s.start %> - <%= s.end %> :
    <%= interviewer_name(s.interviewer) %>
    (<%= Session.stateName(s.state) %>)
  </p>
<% end %>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
